@use "../common/base-variables";
@use "../common/variables" as var;
@use "../tools/px-to-rem";

/* ==========================================================================
ELEMENTS
========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

 :root {
    font-size: base-variables.$root-font-size;

    // colors
    // cf. https://www.canva.com/colors/color-palettes/watermelon-abstract/
    --color-chili-pepper: #{var.$color-chili-pepper};
    --color-jet-black: #{var.$color-jet-black};
    --color-jet-black-light: #{var.$color-jet-black-light};
    --color-jet-black-lighter: #{var.$color-jet-black-lighter};
    --color-ivory: #{var.$color-ivory};
    --color-ivory-dark: #{var.$color-ivory-dark};
    --color-ivory-darkish: #{var.$color-ivory-darkish};
    --color-ivory-darker: #{var.$color-ivory-darker};
    --color-midnight-blue: #{var.$color-midnight-blue};
    --color-midnight-blue-dark: #{var.$color-midnight-blue-dark};

    --color-text: var(--color-jet-black);
    --color-text-lighter: var(--color-jet-black-lighter);

    --color-background: var(--color-ivory);
    --color-background-dark: var(--color-ivory-dark);
    --color-background-darker: var(--color-ivory-darker);
    --color-border: var(--color-ivory);
    --color-border-dark: var(var(--color-jet-black));

    --font-family-primary: #{var.$primary-font};
    --font-family-secondary: #{var.$secondary-font};
    --font-family-headings: #{var.$headings-font};
    --font-weight-regular: #{var.$base-font-weight-regular};
    --font-weight-bold: #{var.$base-font-weight-bold};
    --font-weight-headings: #{var.$headings-font-weight};
  }
  
  html {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
  
    box-sizing: border-box;
    min-height: 100%; /* [2] */
    overflow-y: scroll; /* [1] */
  }
  
  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
  }
  
  ul,
  ol {
    font-family: var.$secondary-font;
    margin: 0;
    padding: 0;
  
    li {
      font-size: var(--font-size-fluid-0);
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
  main {
    ul,
    ol {
      margin-bottom: px-to-rem.px-to-rem(30px);
      padding-left: px-to-rem.px-to-rem(40px);
  
      ul,
      ol {
        margin-bottom: 0;
      }
  
      li {
        margin: px-to-rem.px-to-rem(9px);
        line-height: px-to-rem.px-to-rem(27px);
      }
  
      hr {
        height: px-to-rem.px-to-rem(1px);
        border: none;
      }
    }
  }

// Links, anchors

a {
  text-decoration: none;

  &:hover {
    color: var(--text-highlight-1);
    text-decoration: underline;
  }
}

:where(hr) {
  background-color: var(--color-ivory);
  margin-block: var(--size-fluid-2);
}

blockquote {
  border-color: var(--surface-teal);
  max-inline-size: var(--size-content-3);
  margin-block: var(--size-fluid-2);
  padding-block: 0;

  &.bq-alt{ 
    border-inline-start-width: 0;

    >* {
      font-size: var(--font-size-fluid-1);
      line-height: var(--font-lineheight-2) !important;
    }
  }
}
