@use "sass:color";
@use "../tools/px-to-rem";
@use "base-variables";

// Fonts
$primary-font: "Raleway", var(--font-sans);
$secondary-font: "Raleway", var(--font-sans);
$headings-font: "Bebas Neue", var(--font-sans);

// Font weight
$base-font-weight-bold: 600;
$base-font-weight-regular: 300;
$base-font-weight-medium: 500;
$headings-font-weight: 400;

// Colors
$color-chili-pepper: #DF362D;
$color-jet-black: #1A1A1D;
$color-ivory: #D3D3CB;
$color-midnight-blue: #0D698B;
$color-white: #FFFFFF;

$color-jet-black-light: color.adjust($color-jet-black, $lightness: 5%);
$color-jet-black-lighter: color.adjust($color-jet-black, $lightness: 15%);
$color-ivory-darkish: color.adjust($color-ivory, $lightness: -5%);
$color-ivory-dark: color.adjust($color-ivory, $lightness: -10%);
$color-ivory-darker: color.adjust($color-ivory, $lightness: -15%);
$color-midnight-blue-dark: color.adjust($color-midnight-blue, $lightness: -10%);

// Custom media queries
$break-very-small: 22.5rem; // >= 360px @ 16px
$break-small: 30rem; // >= 480px @ 16px
$break-medium: 48rem; // >= 768px @ 16px
$break-large: 64rem; // >= 1024px @ 16px
$break-extra-large: 90rem; // >= 1440px @ 16px
$break-largest: 120rem; // >= 1920px @ 16px

// Font sizes
$body-v-sml-font-size-mobile: px-to-rem.px-to-rem(10px);
$body-v-sml-font-size: px-to-rem.px-to-rem(14px);

$body-sml-font-size-mobile: px-to-rem.px-to-rem(12px);
$body-sml-font-size: px-to-rem.px-to-rem(16px);

$body-font-size-mobile: px-to-rem.px-to-rem(16px);
$body-font-size: px-to-rem.px-to-rem(base-variables.$root-font-size);

$lg-body-font-size-mobile: px-to-rem.px-to-rem(19px);
$lg-body-font-size: px-to-rem.px-to-rem(25px);

$h1-lg-font-size-mobile: px-to-rem.px-to-rem(48px);
$h1-lg-font-size: px-to-rem.px-to-rem(64px);

$h1-font-size-mobile: px-to-rem.px-to-rem(36px);
$h1-font-size: px-to-rem.px-to-rem(48px);

$h2-font-size-mobile: px-to-rem.px-to-rem(22px);
$h2-font-size: px-to-rem.px-to-rem(32px);

$h3-font-size-mobile: px-to-rem.px-to-rem(18px);
$h3-font-size: px-to-rem.px-to-rem(20px);

$h4-font-size-mobile: px-to-rem.px-to-rem(17px);
$h4-font-size: px-to-rem.px-to-rem(19px);

// Font line heights
$base-line-height: px-to-rem.px-to-rem(19px);

$body-line-height-mobile: px-to-rem.px-to-rem(23px);
$body-line-height: px-to-rem.px-to-rem(25px);

$lg-body-line-height-mobile: px-to-rem.px-to-rem(26px);
$lg-body-line-height: px-to-rem.px-to-rem(37px);

$h1-line-height-mobile: px-to-rem.px-to-rem(30px);
$h1-line-height: px-to-rem.px-to-rem(40px);

$h2-line-height-mobile: px-to-rem.px-to-rem(26px);
$h2-line-height: px-to-rem.px-to-rem(33px);

$h3-line-height-mobile: px-to-rem.px-to-rem(25px);
$h3-line-height: px-to-rem.px-to-rem(28px);

$h4-line-height-mobile: px-to-rem.px-to-rem(25px);
$h4-line-height: px-to-rem.px-to-rem(28px);
