<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% if header.background or client.logo %}
    {% set clientcss %}
    <style type="text/css">
      {% if header.background %}
      .header-main.header-main-client-gradient {
        --client-color: {{ header.background }}
      }
      {% endif %}
      {% if client.logo %}
      .header-main .client-logo {
        --client-logo: url("{{ client.logo }}");
      }
      {% endif %}
    </style>
    {% endset %}
  {% endif %}

  {% include "layouts/components/head.njk" %}

  <body>

    {# Header #}
    {% include "layouts/components/site-header.njk" %}

    {# {%- if not home -%}
      {% include "components/breadcrumbs.njk" %}
    {% endif %} #}

    {# Main content #}
    {% include "layouts/components/site-main.njk" %}

    {# Footer #}
    {% include "layouts/components/site-footer.njk" %}

  </body>
  <!-- Google Analytics -->
  <!-- End Google Analytics -->
</html>