---
layout: base.njk
---

{# Title bar #}
<div class="content-canvas">
  {% include "layouts/components/title-bar.njk" %}
</div>

{# Main page content #}
<div class="content-canvas">
  {{ content | safe }}
</div>

{% if pagination.data %}

<div class="content-canvas">
  <div class="content-canvas-item-wide">
    
    <ul class="index-list">
      {% set cls = cycler("odd", "even") %}
      {% set sze = cycler("large","small") %}
      {% for item in items %}
        {% set vr = cls.next() %}

        {% if item.data.portfolio | length %}
        {% set portfolio_item = item.data.portfolio | first %}
        {% set image = portfolio_item.image %}
        {% endif %}

      <li class="faux-block-link-parent index-list__item index-list__item-{{ loop.index }}{% if loop.first %} index-list__item-first{% endif %} index-list__item-{{ vr }}{% if loop.index != 1 %} index-list__item-{{ sze.next() }}{% endif %}{% if image.path %} index-list__item--picture{% endif %}">
        <div class="index-list__item__content">
        
          <h2><a href="{{ item.url | url }}"{% activepath item.url, page.url %}>{{ item.data.title }}</a></h2>
          
        </div>

          <a href="{{ item.url | url }}"{% activepath item.url, page.url %} class="faux-block-link"><span class="hide-text" aria-hidden="true">{{ item.data.title }}</span></a>
          {% if image.path %}
            {% image image.path, image.alt, "image-obj-cover", "index-list__item__picture" %}
          {% endif %}
      </li>

      {% endfor %}
    </ul>

  </div>
</div>

{% endif %}