---
layout: base.njk
scripts:
  - lightbox.js
---

<div class="content-canvas">
  {{ content | safe }}
</div>

{% if portfolio | length %}


<div class="content-canvas">

  <hr>

  <ul class="portfolio-list content-canvas-item-wide bare-list" id="portfolio-lightbox">
  {% for item in portfolio %}
    <li class="modal-click-parent">
      {% figure "padding-block content-canvas-item-wide" %}
        {% image item.image.path, item.image.alt  %}
        {% caption "do-not-display" %}
          <div class="caption-content">{{ item.caption.content }}</div>
          {% if item.caption.credit %}
          <div class="caption-credit">{{ item.caption.credit }}</div>
          {% endif %}
        {% endcaption %}
      {% endfigure %}

      <a href="#" class="modal-click"><span class="hide-text" aria-hidden="true">view full screen</span></a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}