---
layout: base.njk
---
{# Title bar #}
<div class="content-canvas">
  {% include "layouts/components/title-bar.njk" %}

  <div class="blog-item--metadata">
    <time class="item-date" datetime="{{ page.date | readableDate("yyyy-LL-dd") }}">{{ page.date | readableDate("d LLLL, yyyy") }}</time>
    <span class="divider"></span>
    <span class="item-reading-time">{{ content | timeToRead }} read</span>
  </div>
</div>

<div class="content-canvas">
  {{ content | safe }}
</div>