---
layout: base.njk
scripts:
  - lightbox.js
---

<div class="content-canvas">
  {{ content | safe }}
</div>

{% if portfolio | length %}


<div class="content-canvas">

  <hr>

  <ul class="portfolio-list content-canvas-item-wide bare-list" id="portfolio-lightbox">
  {% for item in portfolio %}
    <li class="modal-click-parent">
      {% figure "padding-block content-canvas-item-wide" %}
        {% image item.image.path, item.image.alt  %}
        <aside class="modal-picture-caption">
        {% caption %}
          <div class="caption-content">{{ item.caption.content }}</div>
          {% if item.caption.credit %}
          <div class="caption-credit">{{ item.caption.credit }}</div>
          {% endif %}
        {% endcaption %}
        </aside>
      {% endfigure %}
      <a href="#" class="modal-click">
        <button type="button" class="modal-click--button">
          <span class="modal-click--button-text hide-text" aria-hidden="true">view full screen</span>
        </button>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}