---
layout: base.njk
scripts:
  - lightbox.js
---

<div class="content-canvas">
  {{ content | safe }}
</div>

{% if portfolio | length %}


<div class="content-canvas">

  <hr>

  <ul class="portfolio-list content-canvas-item-wide bare-list" id="portfolio-lightbox">
  {% for item in portfolio %}
    {% set hasCaption =  true if item.caption else false %}
    <li class="modal-click-parent portfolio-list-item{% if hasCaption %} portfolio-item-has-caption{% endif %}{% if item.addBorder %} portfolio-list-item--border{% endif %}">
      <div class="modal-picture">
        {% figure "portfolio-item--figure" %}
          {% image item.image.path, item.image.alt, 'portfolio-item--image image-obj-contain image-max-height-100vh','portfolio-item--picture' %}
          {% if hasCaption %}
          <aside class="modal-picture-caption portfolio-item--caption">
          {% caption %}
            <div class="caption-item caption-title bold">{{ item.caption.title }}</div>
            {% if item.caption.description %}
            <div class="caption-item caption-description">{{ item.caption.description }}</div>
            {% endif %}
            {% if item.caption.media %}
            <div class="caption-item caption-media"><span class="caption-label">Media:</span> {{ item.caption.media }}</div>
            {% endif %}
            {% if item.caption.date %}
            <div class="caption-item caption-date"><span class="caption-label">Date:</span> {{ item.caption.date }}</div>
            {% endif %}
            {% if item.caption.reference %}
            <div class="caption-item caption-reference"><span class="caption-label">Artist reference:</span> {{ item.caption.reference }}</div>
            {% endif %}
          {% endcaption %}
          </aside>
          {% endif %}
        {% endfigure %}
      </div>
      <nav class="modal-click-nav">
        <a href="#" class="modal-click">
          <button type="button" class="modal-click--button">
            <span class="modal-click--button-text hide-text" aria-hidden="true">view full screen</span>
          </button>
        </a>
        <a href="#" class="modal-click--info">
          <button type="button" class="modal-click--button-info">
            <span class="modal-click--button-text hide-text" aria-hidden="true">Toggle caption</span>
          </button>
        </a>
      </nav>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}