@use "../tools/respond-to" as rt;
@use "../tools/px-to-rem" as p2r;

.footer-main__container {
  margin-block-start: var(--size-8);
  padding-block: var(--size-8);
  border-top-color: var(--color-ivory);
  border-top-width: var(--border-size-2);
  border-top-style: solid;

  display: grid;
  grid-template-columns:
    [full-start]
      minmax(5vw, auto)
    [main-start]
      minmax(auto, 36rem)
    [main-end]
      minmax(5vw, auto)
    [full-end]
  ;
  grid-auto-flow: row;
  gap: 1.5em;

  > * {
    grid-column: main-start/main-end;
  }
}

.footer-main__nav__list {
  display: flex;
  justify-content: center;
  gap: 1rem;

  >* {
    font-size: var(--font-size-0);
    margin: 0;
    padding: 0;
  }
}

.footer-main__nav {
  text-transform: uppercase;

  a {
    &:hover {
      text-decoration: underline;
      color: var(--color-jet-black-lighter);
    }
  }
}

@include rt.respond-to('medium') {
  .footer-main__container {
    grid-auto-flow: column;
  }

  .footer-main__nav {
    a {
      padding-inline: 0;
      margin-inline: 0;
    }
  }
}

.social-site {
  display: inline-block;
  position: relative;
  padding-right: 2.5em;

  &:not(.social-site--no-icon) {
    height: var(--size-8);
    width: var(--size-8);

    &::after {
      display: inline-block;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      content: ' ';
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background: var(--color-midnight-blue);
      height: var(--size-7);
      width: var(--size-7);
      transition: 0.2s;
    }

    &:hover {
      &::after {
        background: var(--color-midnight-blue-dark);
      }
    }
  }

  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }

  &.email {
    &::after {
      mask-image: url("/static/images/icons/email.svg");
    }
  }

  &.twitter {
    &::after {
      mask-image: url("/static/images/icons/twitter.svg");
    }
  }

  &.mastodon {
    &::after {
      mask-image: url("/static/images/icons/mastodon.svg");
    }
  }

  &.instagram {
    &::after {
      mask-image: url("/static/images/icons/instagram.svg");
    }
  }

  &.facebook {
    &::after {
      mask-image: url("/static/images/icons/facebook.svg");
    }
  }

  &.youtube {
    &::after {
      mask-image: url("/static/images/icons/youtube.svg");
    }
  }

  &.soundcloud {
    &::after {
      mask-image: url("/static/images/icons/soundcloud.svg");
    }
  }

  &.medium {
    &::after {
      mask-image: url("/static/images/icons/medium.svg");
    }
  }
}
